.sidebar_parent{
    display: flex;
}

.MainPage{
    height: 100vh;
}

.sideBar{
    width: 200px;
    border-right: 1px solid #ECECF2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.outlet{
    padding: 20px;
}