.Navbar{
    display: flex;
    padding-top:1vw;
    padding-left: 1vw;
    gap: 10vw;
    font-family: 'Manrope', sans-serif;
    height: 10vh;
}

.right_navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ECECF2;
    padding-bottom: 10px;
}
.profile_name{
    display: flex;
}
.profile_name span{
    font-size: 1.2rem;
    font-weight: 700;
}

.profile_name p{
    font-size: 0.8rem;
    color: #878BA9;
}

.Nav_Acton{
    display: flex;
    /* position: relative; */
    justify-content: space-between;
    gap: 28px;
}
.create_button{
    background-color: #1B48DA;
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.create_button:hover{
    background-color: #6481df;
}

.Nav_search{
    padding: 13px 14px;
    margin-right: 7vw;  
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ECECF2;
    font-weight: 400;

}

.search{
    position: relative;;
    color: #878BA9;
}

.search i{
    position: absolute;
    top: 2.2vh;
    padding-left: 1vw;
    font-size: 1.2rem;
}

.profile_circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FDE48A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #923E0E;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.profile_circle:hover{
    transform: scale(1.25);
}

.logoutDiv{
    position: absolute;
    top: 8vh;
    left: 92vw;

    width: 3vw;
}

.logoutBtn{
    border: 1px solid #ececf2;
    color: #878ba9;
    font-family: Manrope;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ffffff;
    padding: 8px 22px;
    border-radius: 4px;
    cursor: pointer;
}
.logoutBtn:hover{
    background-color: #3B3C51;
    color: #FFFFFF;
}

  
@media screen and (max-width: 576px){
    .Navbar{
        flex-direction: column;
        height: 23vh;
        gap: 3px;
    }

    .Logo{
        text-align: center;
        /* padding: 8px; */
    }
    .Logo img{
        /* text-align: center; */
        width: 100px;
    }

    .right_navbar{
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .Nav_Acton{
        gap: 10px;
        justify-content: space-between;
    }

    .profile_name{
        margin-bottom: 10px;
    }

    .logoutDiv{
     
        top: 10vh;
        left: 75vw;
       
    }

    .create_button{
        background-color: #1B48DA;
        padding: 5px;
        width: 22vw;
        border-radius: 6px;
        border: none;
        outline: none;
        color: #FFFFFF;
        font-size: 0.8rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;
    }
    
}

 
