
table, th, td {
    /* border: 1px solid rgb(203, 203, 203); */
    border-collapse: collapse;
  }


  .tableContainer {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tableHeader th {
    padding: 12px;
    text-align: center;
    background-color: #eaf1fc;
    font-weight: 600;
    color: #495057;
    border-bottom: 1px solid #e9ecef;
  }

  .originalLink{
    text-align: center;
  }

  .original{
    width:13vw;
    overflow: hidden;
    height: 20px;
  }



 .container{

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
 }

  .short{
     width:13vw;
    overflow: hidden;
    height: 20px;
  }

  .shortEdit{
    display: flex;
  }

  .remarks{
 
    width: 10vw;
    text-align: center;
  }

  .clicks{
  
    width: 8vw;
    text-align: center;
  }

  .status{

    width: 10vw;
    text-align: center;
  }

  .btns{

    width: 10vw;
    text-align: center;
  }
  
  .tableRow td {
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #e9ecef;
    color: #495057;
    /* height: 5px; */
  }
  
  .tableRow:hover {
    background-color: #f8f9fa;
  }
  
  .copyIcon {
    cursor: pointer;
    color: #6c757d;
    margin-left: 8px;
  }
  
  .status {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .active {
    composes: status;
   
    color: #2e7d32;
    width: 8vw;
  }
  
  .inactive {
    composes: status;
    background-color: #fff3e0;
    color: #ef6c00;
  }
  
  .actionButton {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
  }
  
  .editButton {
    composes: actionButton;
    background-color: #ffff;
  }
  
  .editButton:hover {
    color: #3795e2;
  }
  
  .deleteButton {
    composes: actionButton;
    background-color: #ffff;
  }
  
  .deleteButton:hover {
    color: #ed3b4d;
  }

 