.registerMain_container{
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.registerLeft_container{
    width: 45%;
    background-image: url('../../assets/bg-image.png');
    /* background-size: cover;   */
    background-repeat: no-repeat;
    padding:4vh;
}

/* registerleft container */
.registerRight_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
}

.buttons{
    position: relative;
    left: 23vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    
}
.buttons button{
   
    font-size: 1rem;
    font-weight: 600;
    background: transparent; 
    cursor: pointer;
}

.buttons .signUpBtn{
    color: #3B3C51;
    border: none;
    outline: none;
}
.buttons .signUpBtn:hover{
    color: #1B48DA;
}

.buttons .loginBtn{
    color: #FFFFFF;
    border: none;
    outline: none;
    background-color: #1B48DA;  
    padding: 10px 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.buttons .loginBtn:hover{
    transform: scale(1.03);
}

/* registerForm */

.registerForm_contant{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 70%;
    margin: 5vh;
}

.join_us p{
  
    font-size: 1.2rem;
    font-weight: 600;
    color: #3B3C51;
}

.registerForm input{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #3B3C51;
 
    font-size: 1.1rem;
    font-family: 500;
}

.registerForm button{
    width: 100%;
    background-color: #1B48DA;
    text-align: center;
    padding: 10px 0px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #FFFFFF;

    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.registerForm button:hover{
    transform: scale(1.02);
}

.already_have_account p{
   
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.already_have_account a{
  
    font-size: 1.2rem;
    font-weight: 400;
    color: #1B48DA;
    text-decoration: none;
}

@media screen and (max-width: 430px){
    .registerLeft_container{
        display: none;
    }

    .registerForm_contant{
        /* width: 100vw; */
        justify-content: center;  
    }

    .registerButton{
         width: 100vw;
    }

    .registerForm input{
       width: 100vw;
    }

    .join_us {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .buttons{
        left: 30vw;
    justify-content: center;
    }

    .already_have_account{
        width: 100vw;
    }
}

@media screen and (max-width: 770px){
    .registerLeft_container{
        display: none;
    }

    .registerForm_contant{
        /* width: 100vw; */
        justify-content: center;  
    }

    .registerButton{
         width: 80vw;
    }

    .registerForm input{
       width: 80vw;
    }

    .join_us {
        width: 80vw;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .buttons{
        left: 30vw;
    justify-content: center;
    }

    .already_have_account{
        width: 80vw;
    }
}
